extends layout

block content
  .grid-wrapper
    .grid-box.blank
    .grid-box.blank
    .grid-box.blank
    .grid-box.blank
    .grid-box.pic
      a(href="/")
        img(src=`/images/${pic.name}`, style="max-width: 100%; max-height:80vh;")
    .grid-box.blank
    .grid-box.blank
    .grid-box.blank
    .grid-box.blank